@page "/usersmanagement"

@using Microsoft.AspNetCore.Identity

@inject NavigationManager NavigationManager
@inject IUserService UserService
@rendermode InteractiveServer


<h3>Admin User Managment</h3>

@if (users == null)
{
	<p>Loading...</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>UserName</th>
				<th>Email</th>
				<th>Email Confirmed</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in users)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.UserName</td>
					<td>@user.Email</td>
					<td>@user.EmailConfirmed</td>
					<td>
						<a href="@string.Format("/usersmanagement/{0}",user.Id)" class="btn btn-primary">Edit</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<ApplicationUser> users { get; set; }

	protected override async Task OnInitializedAsync()
	{
		users = await UserService.GetAllUserAsync();
	}
}
